.wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.friendsPageWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1011px;
  padding: 0;
}

.friendsWrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.friendsPageWrapper h4 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 110%;
}

.friendsPageWrapper p {
  margin: 0;
  padding: 0;
  font-size: 80%;
}

.friendsPageWrapper a {
  margin: 0;
  padding: 0;
  font-size: 80%;
  text-decoration: none;
  color: #4266B2;
}


/* friends requests  */

.friendsRequest {
  background-color: white;
  box-shadow: 0 0 0 1px #DDDFE2;
  border-radius: 4px;
  margin: 12px 0;
  padding-bottom: 12px;
}

.friendsRequest h4 {
  padding-top: 12px;
  padding-left: 12px;
}

.friendsRequest a {
  padding-left: 12px;

}

/* people u know */

.usersWrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 0 1px #DDDFE2;
  border-radius: 4px;
}

.friendWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: tomato; */
  padding: 12px 0;
  margin: 5px 12px;
  box-shadow: 0 1px 0 0 #DDDFE2;
}

.mayKnow {
  /* background-color: teal; */
  margin-top: 12px;
  margin-bottom: 12px;
  padding-bottom: 12px;
  box-shadow: 0 1px 0 0 #CED0D4;
}

.mayKnow h4 {
  margin-left: 12px;
}

.users {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 683px
  /* background-color: coral; */
}

.preloaderWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 101%;
  opacity: 0.4;
  top: -12px;
}

.preloaderUsers {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7e7e7e5d;
  width: 40px;
  height: 40px;
  left: 49%;
  top: 39%;
  border-radius: 4px;
}

/*  users info */

.userInfo {
  display: flex;
  flex-direction: row;
  margin-left: 12px;
  /* background-color: thistle; */
}

.friendWrapper a span {
  margin: 0;
  padding: 0;
  color: #4266B2;
}

.userInfo p {
  color: #989A9D;
}

.userInfo p:nth-child(2) {
    color: #000000;
}

.userAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #DDDFE2;
  border-radius: 50%;
  overflow: hidden;
}

.userAvatar img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.userAbout {
  margin: 12px 0 0 12px;
}

/* add/remove buttons */

.addFriend {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.addFriend button {
  display: flex;
  align-items: center;
  background-color: #F6F7F9;
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px #CED0D4;
  height: 22px;
  font-weight: 600;
  transition: 0.1s;
  border-radius: 2px;
  transition: 0.1s;
}

.addFriend button img {
  max-height: 20px;
  margin: 0 4px;
}

.addFriend button:hover {
  cursor: pointer;
  background-color: #4266B2;
  color: white;
}

.addFriend button:disabled:hover {
  cursor: default;
  background-color: #F6F7F9;
  color: #6D6D6D;
}

.addFriend button:active {
  background-color: rgb(56, 89, 161);
}