.blockWrapper {
  display: flex;
  flex-direction: row;
  /* background-color: tomato; */
  max-width: 1011px;
  width: 100%;
  padding: 0 5px;
}
.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: violet; */
}

.contentBlock {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}

.preloaderProfilePage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 36px;
}

