.postMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  right: 3px;
  top: 38px;
  width: 125px;
  box-shadow: 0 0 3px 1px rgb(116, 117, 117);
}

.postMenu:before {
  content: "";
  width: 0; 
  height: 0;
  position: absolute; 
  right: 9px;
  top: -9px;
  border-left: 9px solid transparent;
  border-bottom: 9px solid white;
  border-right: 9px solid transparent;
}

.postMenu span {
  font-size: 80%;
}

.postMenu div {
  margin: 4px;
  padding: 6px 24px;
  transition: 0.1s;
}

.postMenu div:hover {
  cursor: pointer;
  background-color: #4266B2;
  color: white;
}

.postMenu div:active {
  background-color: rgb(50, 79, 141);
}