.friendWrapper {
  display: flex;
  flex-direction: row;
  /* background-color: olive; */
  width: 100%;
}
.friendPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 12px;
}

.friendPhoto img {
  max-width: 100%;
}

.friendInfo {
  display: flex;
  flex-direction: column;
  margin: 12px;
}

.friendInfo p {
  font-size: 80%;
  color: #989A9D;
}

.friendInfo p:nth-child(2) {
  color: black;
}
