.notification {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: red;
  border-radius: 1px;
  top: -5px;
  right: -5px;
}

.notification span {
  font-size: 70%;
  color: white;
  width: 100%;
  padding: 0 4px;
  text-align: center;
}