
/* personal contacts */

.personalContacts {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-height: 232px;
  background-color: white;
  margin: 12px;
  margin-bottom: 0;
  margin-right: 0;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #DDDFE2;
}

.addPC {
  /* background-color: palegreen; */
  width: 100%;
  box-shadow: 0 1px 0 0 #DDDFE2;
}

.addPC h4 {
  margin: 12px;
  margin-right: 0;
  color: #8B8B8B;
}

.linkButtons {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-left: 12px;
  margin-right: 12px;
}

.linkButtons button {
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 6px 6px;
  margin: 0 2px;
  border-radius: 2px;
  background-color: white;
  border: none;
  outline: none;
  transition: 0.1s;
}

.linkButtons button:hover {
  cursor: pointer;
  box-shadow: 0 0 0 1px #DDDFE2;
}

.linkButtons button:active {
  background-color: #DDDFE2;
  box-shadow: 0 0 0 1px #DFDBEC;
}

.linkButtons button img {
  max-width: 28px;
}

.chooseCommunicate {
  /* background-color: tomato; */
  margin: 12px;
}

.chooseCommunicate a, .chooseCommunicate p:nth-child(3) {
  display: inline-block;
}

.findFriend {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 12px;
  margin-left: 0;
}

.findFriend button {
  margin: 0;
}

.findFriend button {
  display: flex;
  align-items: center;
  background-color: #F6F7F9;
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px #CED0D4;
  height: 22px;
  font-weight: 600;
  transition: 0.1s;
  border-radius: 2px;
  transition: 0.1s;
}

.findFriend button:hover {
  cursor: pointer;
  background-color: #4266B2;
  color: white;
}

.findFriend button:active {
  background-color: rgb(56, 89, 161);
}