.paginatorWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px 0;
  width: 100%;
  /* background-color: cyan; */
}

.pagesList {
  display: flex;
  width: 45%;
  justify-content: center;
  font-size: 90%;
}

.paginatorWrapper span {
  color: #4266B2;
  margin: 0 4px;
}

.paginatorWrapper span:hover {
  cursor: pointer;
}

.paginatorWrapper span.selectedPage {
  font-weight: 500;
  color: #000000;
}

.changePage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginatorWrapper button {
  position: relative;
  width: 20px;
  background: none;
  outline: none;
  border: none;
}

.paginatorWrapper button:before {
  content: "";
  width: 0; 
  height: 0;
  position: absolute; 
  left: 8px;
  top: 2px;
}

.buttonPrev:before {
  border-bottom: 7px solid transparent;
  border-right: 7px solid #4266B2;
  border-top: 7px solid transparent;
}

.buttonNext:before {
  border-bottom: 7px solid transparent;
  border-left: 7px solid #4266B2;
  border-top: 7px solid transparent;
}

.buttonPrev:disabled:before {
  border-bottom: 7px solid transparent;
  border-right: 7px solid rgb(167, 185, 223);
  border-top: 7px solid transparent;
}

.buttonNext:disabled:before {
  border-bottom: 7px solid transparent;
  border-left: 7px solid rgb(167, 185, 223);
  border-top: 7px solid transparent;
}

.buttonPrev:active:before {
  border-bottom: 7px solid transparent;
  border-right: 7px solid rgb(42, 67, 121);
  border-top: 7px solid transparent;
}

.buttonNext:active:before {
  border-bottom: 7px solid transparent;
  border-left: 7px solid rgb(42, 67, 121);
  border-top: 7px solid transparent;
}


.paginatorWrapper button img {
  max-width: 100%;
}

.paginatorWrapper button:hover {
  cursor: pointer;
}

.paginatorWrapper button:active img{
  box-shadow: 0 0 0 1px #000000;
}