.newsFeedContainer {
  width: 60%;
  max-width: 1000px;
  /* background-color: orangered; */
}

.newPostContainer {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 0 1px #DDDFE2;
}

.newPost {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #F5F6F8;
  box-shadow: 0 0 0 1px #DDDFE2;
  border-radius: 4px 4px 0 0;
}

.newPostItem {
  display: flex;
  flex-direction: row;
  margin: 6px 6px;
  color: #4B4F55;
}

.newPostItem:nth-child(1) {
  margin-left: 12px;
}

.newPostItem img {
  margin-top: 2px;
  max-width: 15px;
  max-height: 15px;
}

.newPostItem span {
  /* background-color: orange; */
  padding: 0 12px;
  box-shadow: 1px 0 0 0 #4B4F55;
  font-size: 90%;
}

.newPostItem:nth-last-child(1) span {
  box-shadow: none;
}

.statusEdit {
  display: flex;
  flex-direction: row;
}

.newPostText {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  margin: 0;
  padding-bottom: 12px;
  background-color: white;
  box-shadow: 0 -1px 0 0 #DDDFE2;
}

.addPostButton {
  position: absolute;
  bottom: -84px;
  right: 12px;
  outline: none;
  border: none;
  background-color: #4266B2;
  color: #ffffff;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 3px;
}

.addPostButton:hover {
  cursor: pointer;
}

.addPostButton:disabled {
  cursor: unset;
  background-color: rgb(122, 144, 190);
}

.newPostAuthor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 40px;
  margin: 12px;
}

.newPostAuthor img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.newPostText textarea {
  width: 95%;
  margin-right: 12px;
  margin-top: 12px;
  overflow: hidden;
  resize: none;
  outline: none;
  border: none;
  font-size: 100%;
}

.newPostAddMoreWrapper {
  display: flex;
  margin: 0 12px;
  border-top: 1px solid #DDDFE2;
}

.newPostAddMore {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: pink; */
  padding: 12px 0;
}

.postMoreItem {
  margin-right: 6px;
  border-radius: 12px;
  font-size: 90%;
  background-color: #DDDFE2;
  padding: 4px 8px;
}

.postMoreItem img {
  width: 15px;
  height: 15px;
  margin-right: 6px;
  margin-bottom: -3px;
}

.postMoreItem:nth-last-child(1) img {
  margin-right: 0;
}

.addPostWrapper {
  padding: 22px 0;
  box-shadow: 0 -1px 0 0 #DDDFE2;
}

.news {
  background-color: white;
  padding-bottom: 6px;
  box-shadow: 0 0 0 1px #DDDFE2;
  border-radius: 4px;
  margin-top: 12px;
}

.news p {
  margin-left: 12px;
  padding-top: 6px;
  font-weight: bold;
}