.friendWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: tomato; */
  padding: 8px 12px;
}

/*  users info */

.userInfo {
  display: flex;
  flex-direction: row;
  /* background-color: thistle; */
}

.userAbout a p {
  margin: 0;
  padding: 0;
  font-size: 100%;
  color: #4266B2;
}

.userInfo span {
  margin: 0;
  padding: 0;
  color: #989A9D;
  font-size: 70%;
}

.userAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #DDDFE2;
}

.userAvatar img {
  max-width: 100%;
  object-fit: cover;
}

.userAbout {
  margin-left: 6px;
}

/* add/remove buttons */

.addFriend {
  display: flex;
  align-items: center;
}

.addFriend button {
  display: flex;
  align-items: center;
  background-color: #F6F7F9;
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px #CED0D4;
  height: 22px;
  font-weight: 600;
  transition: 0.1s;
  border-radius: 2px;
  transition: 0.1s;
  font-size: 70%;
}

.addFriend button img {
  max-height: 15px;
  margin: 0 4px;
}

.addFriend button:hover {
  cursor: pointer;
  background-color: #4266B2;
  color: white;
}

.addFriend button:disabled:hover {
  cursor: default;
  background-color: #F6F7F9;
  color: #6D6D6D;
}

.addFriend button:active {
  background-color: rgb(56, 89, 161);
}