.sidePanelWrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #DDDFE2;
    margin-bottom: 12px;
    padding-bottom: 2px;
}

.sidePanelWrapper a {
    color: #4266B2;
}

div.sidePanelWrapper span{
    margin: 6px 12px;
}


