.formControl {
    width: 100%;
    position: relative;
}
.formControl textarea {
    width: 95%;
    margin-right: 12px;
    margin-top: 12px;
    overflow: hidden;
    resize: none;
    outline: none;
    border: none;
    font-size: 100%;
}

/* .formControl.error span, .formControlInput.error span{
    display: block;
    position: absolute;
    text-align: center;
    color: red;
    font-size: 80%;
    box-shadow: 0 0 0 2px red;
    background-color: white;
    right: -25%; 
    top: 80%;
    cursor: pointer;
} */

.formControlInput {
    position: relative;
    width: 80%;
}

.formControlInput input {
    width: 100%;
    outline: none;
    font-size: 80%;
    margin-bottom: 4px;
}

div span.formSummaryError {
    color: red;
    margin: 0;
    padding: 0;
    line-height: 16px;
}
