.blockWrapper {
  display: flex;
  flex-direction: row;
  /* background-color: tomato; */
  margin: 0 auto;
  padding: 0 5px;
}

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: violet; */
}

.contentBlock {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}