.loginWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1011px;
  max-width: 1011px;
  /* background-color: tomato; */
  padding: 24px 0;
  height: 640px;
}

h1, h4, span {
  margin: 0;
  padding: 0;
}

.loginPageImgWrapper {
  width: 50%;
  max-width: 600px;
  padding-left: 12px;
  margin-top: 24px;
  /* background-color: greenyellow; */
}

.singUpBlockWrapper {
  display: flex;
  flex-direction: column;
  /* background-color: brown; */
  width: 40%;
  max-width: 450px;
  padding-bottom: 24px;
}

.loginWrapper h1 {
  font-size: 250%;
  font-weight: 600;
}

.loginWrapper h4 {
  color: #4266B2;
  width: 90%;
  font-weight: 600;
  font-size: 130%;
}

.loginWrapper span {
  font-size: 120%;
  margin-top: 6px;
  font-weight: 400;
}

.singUpBlock div span {
  margin: 0;
  padding: 0;
  font-size: 100%;
  margin-right: 5px;
}

.loginPageimg {
  width: 100%;
  height: 220px;
  margin-top: 6px;
  /* background-color: yellow; */
}

.singUpTextBlock {
  /* background-color: deeppink; */
  margin-bottom: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  box-shadow: 0 1px 0 0 #DDDFE2;
}

.singUpBlock {
  display: flex;
  flex-direction: column;
  /* background-color: darkcyan; */
  margin-bottom: 6px;
}

.singUpBlock div {
  display: flex;
  justify-content: flex-end;
  margin: 4px 0;
}

div.selectBlock {
  display: flex;
  justify-content: flex-start;
  /* background-color: deepskyblue; */
  margin-left: 102px;
  margin-top: 6px;
  border: none;
}

div.selectBlock:nth-child(7) {
  /* background-color: deepskyblue; */
  margin-left: 129px;
}

.singUpBlock input {
  width: 70%;
  max-width: 235px;
  border-radius: 2px;
  line-height: 24px;
  border: none;
  box-shadow: 0 1px 0 0 #DDDFE2;
}

span.why {
  text-align: center;
  margin: 12px 0;
  margin-left: 35px;
  color: #606770;
  font-size: 80%;
  text-align: justify;
}

div.singUpBlockButton {
  display: flex;
  justify-content: flex-start;
  /* background-color: floralwhite; */
  padding-left: 95px;
  padding-bottom: 12px;
  box-shadow: 0 1px 0 0 #DDDFE2;

}

.singUpBlockButton button {
  padding: 8px 8px;
  font-size: 120%;
  font-weight: bold;
  border-radius: 4px;
  color: white;
  background: linear-gradient(0, #588944 0%, #5d984a 35%, #65aa53 100%);
  box-shadow: 0 0 0 1px #3B6E22;
  border: none;
  border-top: 1px solid #9EDD83;
  transition: 0.1s;
  outline: none;
  width: 60%;
  max-width: 200px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.singUpBlockButton button:hover {
  cursor: pointer;
  background: linear-gradient(0, #588944 0%, #5d984a 35%, #9EDD83 100%);
}

.singUpBlockButton button:active {
  background: linear-gradient(0, #588944 0%, #5d984a 35%, #65aa53 100%);
}

.createPage {
  display: flex;
  justify-content: center;
}

.createPage span {
  font-size: 80%;
}
