
.post {
  background-color: white;
  margin:12px 0;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #DDDFE2;
}

.postBlock {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* background-color: white; */
}


.postBlock div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.postBlock div:nth-child(1) h5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #365799;
  margin-top: 16px;
  padding: 0;
}

.editPostButton, .editPostButtonActive {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin: 12px;
  outline: none;
  border: none;
  background-color: white;
}

.editPostButtonActive {
  background-color: #DDDFE2;
}

.postBlock img {
  max-width: 40px;
  height: 40px;
}

.postBlock button img {
  max-width: 16px;
  height: 16px;
  margin: 0;
}

.postBlock button:hover {
  cursor: pointer;
  background-color: #DDDFE2;
  border-radius: 2px;
}

.postBlockWrapper {
  display: flex;
  flex-direction: row;
  /* background-color: magenta; */
}

.post p {
  font-size: 90%;
  margin: 0 12px;
  margin-bottom: 12px;
}

.postBlockWrapper img {
  max-width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 12px 6px 6px 12px;
}

.postBlockWrapper p {
  margin: 0;
  margin-top: 12px;
  color: #365799;
  font-weight: normal;
}

span.publicTime {
  margin: 0;
  color: #61676F;
  font-size: 60%;
  padding: 0;
}

.postPicture {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DDDFE2;
  margin: 0 12px;
  overflow: hidden;
}

.postPicture img {
  max-width: 100%;
}

.likesCount {
  display: flex;
  flex-direction: row;
  box-shadow: 0 1px 0 0 #DDDFE2;
  /* background-color: thistle; */
}

.likesCount div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  margin: 9px 0;
  margin-left: 10px;
}

.likesCount span {
  font-size: 80%;
  font-weight: 400;
  margin: 0;
  margin-top: 12px;
  color: #365799;
}

.likesCount img {
  max-width: 100%;
}

.postComment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: dodgerblue; */
  padding: 9px 0;
}

.commetAuthor {
  display: flex;
  width: 32px;
  border-radius: 50%;
  overflow: hidden;
  margin: 2px 6px 2px 12px;
}

.postComment img {
  max-width: 100%;
}

.commetText {
  display: flex;
  width: 100%;
}

.commetText textarea {
  width: 100%;
  overflow: hidden;
  resize: none;
  outline: none;
  border: 1px solid #DDDFE2;
  border-right: none;
  border-radius: 18px 0 0 18px;
  margin-left: 6px;
  font-size: 80%;
  height: 10px;
  padding-top: 8px;
  padding-bottom: 12px;
  padding-left: 12px;
}

.commetText div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 15%;
  margin: 0 12px;
  margin-left: 0;
  padding-left: 2px;
  border: 1px solid #DDDFE2;
  border-radius: 0 18px 18px 0;
  border-left: none;
}

.commetText img {
  max-width: 35%;
}

.commetText img:nth-child(1) {
  margin-right: 2px;
  margin-left: 2px;
}

.commetText img:nth-child(2) {
  margin-right: 6px;
}

.news {
  background-color: white;
  padding-bottom: 6px;
  box-shadow: 0 0 0 1px #DDDFE2;
  border-radius: 4px;
  padding-top: 12px;
  margin-bottom: 12px;
  margin-top: 12px;
}
/* 
.news p {
  margin-left: 12px;
  margin-top: 6px;
} */