.aboutInfoItem {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 40px;
  box-shadow: 0 2px 0 0 #DDDFE2;
 }

.aboutInfoItemImg {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #DDDFE2;

}

.aboutInfoItemImg img{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.aboutInfoItemDes {
  margin-left: 12px;
  color: #000000;
  font-size: 90%;
}

.aboutInfoItemDes span:nth-last-child(1) {
  color: #727272;
  font-size: 80%;
}

.aboutInfoItemDes a{
  color: #4266B2;
}

/* block 2 */

.aboutInfoBlock2Item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 12px;
  font-size: 90%;
}

.aboutInfoBlock2ItemImg {
  display: flex;
  align-items: center;
  width: 20px;
}

.aboutInfoBlock2ItemImg img {
  max-width: 100%;
  object-fit: cover;
}

.aboutInfoBlock2Item span {
  margin-left: 12px;
}

.aboutInfoBlock2Item span a {
  margin: 0 6px;
  color: #4266B2;
}

.aboutInfoBlock2Item input.input {
  background: none;
  color: black;
}


