.sidePanel {
    width: 40%;
    margin-right: 12px;
    /* background-color: cyan; */
}

.sidePanel p, .sidePanel a, .sidePanel span {
    font-size: 90%;
    word-wrap: break-word;
}

.sidePanelWrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #DDDFE2;
    margin-bottom: 12px;
    font-size: 90%;
}

.sidePanelWrapper a {
    color: #4266B2;
}

.blockName, .blockNameAbout{
    position: relative;
    display: flex;
    justify-content: space-between;
    /* background-color: tomato; */
    margin: 12px;
}

.blockNameAbout {
    padding-bottom: 12px;
    box-shadow: 0 1px 0 0 #DDDFE2;
}

.blockName img, .blockNameAbout img {
    width: 20px;
    height: 20px;
    margin-right: 6px;
    margin-top: -1px;
}

.blockName div, .blockNameAbout div {
    display: flex;
    flex-direction: row;
}

.sidePanel h5 {
    margin: 0;
    color: black;
    font-size: 100%;
}

.blockInfo {
    display: flex;
    flex-direction: column;
    margin: 0 12px;
    margin-bottom: 6px;
    /* background-color: teal; */
}

div.blockInfo span {
    color: #000000;
    margin: 0;
    font-size: 90%;
    word-wrap: break-word;
}

div.blockInfo a {
    margin-right: 4px;
}

.blockInfoItem {
    display: flex;
    flex-direction: row;
    margin: 2px 0;
}

.blockInfoItemImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 12px;
}

.blockInfoItemImg img {
    max-width: 100%;
    max-height: 100%;
}

.photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* background-color: seagreen; */
}

.photos div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 119px;
    height: 119px;
    /* overflow: hidden; */
    /* background-color: tomato; */
    margin: 6px;
}

.photos img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
    /* background-color: teal; */
}

.photos div:nth-child(2), .photos div:nth-child(5), .photos div:nth-child(8) {
    margin: 6px 0;
}

.photos div:nth-child(4), .photos div:nth-child(5), .photos div:nth-child(6) {
    margin-top: 0;
    margin-bottom: 0;
}

.photos div:nth-child(1), .photos div:nth-child(4), .photos div:nth-child(7) {
    margin-left: 0;
}

.photos div:nth-child(3), .photos div:nth-child(6), .photos div:nth-child(9) {
    margin-right: 0;
}

.likeItemContainer, .likeItem {
    display: flex;
    flex-direction: row;
}

.likeItemContainer {
    /* background-color: teal; */
    justify-content: space-between;
    padding: 12px;
    align-items: center;
    box-shadow: 0 -1px 0 0 #CED0D4;
}

.likeItemContainer:nth-child(3) {
    padding-bottom: 0;
}

.likeItem div:nth-child(1) {
  width: 52px;
  height: 52px;
  /* background-color: tomato; */
  border-radius: 50%;
  overflow: hidden;
}

.likeItemAuthor {
    display: block;
    margin: 12px 6px;
}

.likeItemAuthor h4 {
    margin: 0 6px;
}

.likeItem img {
  max-width: 52px;
  height: 52px;
}

.blockInfo button {
  display: flex;
  align-items: center;
  background-color: #F6F7F9;
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px #CED0D4;
  height: 22px;
  font-weight: 600;
  transition: 0.1s;
  border-radius: 2px;
  transition: 0.1s;
}

.blockInfo button img {
  max-height: 18px;
  margin: 0;
  margin-right: 3px;
}

.blockInfo button:hover {
  cursor: pointer;
  background-color: #4266B2;
  color: white;
}

.blockInfo button:active {
  background-color: rgb(56, 89, 161);
}

/* styles news sidebar */

.blockInfoItemNews {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 6px 12px;
}

.blockInfoItemNews span{
    margin-left: 6px;
}


.blockInfoItemNews img {
    max-width: 25px;
    margin-right: 6px;
}

.blockName h4 {
    color: #828282;
    font-weight: normal;
}

.blockInfoItemUsers {
    padding-bottom: 6px;
}

/*  news block  */

.newsItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 16px;
}

.newsItem img {
    max-width: 100%;
    object-fit: cover;
    background-color: #DCDEE1;
}

.newsItem a {
    padding-bottom: 6px;
    word-wrap: break-word;
    margin-top: 6px;
    color: #4266B2;
}

.newsItem:nth-last-child(1) {
    margin-bottom: 0;
}


.newsItem:nth-last-child(1) a {
    padding-bottom: 0;
}


.sidePanelWrapper span {
    margin: 12px;
    font-size: 70%;
    text-align: end;
    color: #828282;
}

.blockInfoItemNews span{
    font-size: 90%;
    margin: 0;
    margin-left: 6px;
}

.moreButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: none;
    outline: none;
    width: 25px;
    border-radius: 2px;
}

.moreButton img {
    margin: 0;
    height: 100%;
    width: 100%;
}

.moreButton:hover {
    cursor: pointer;
    background-color: #CED0D4;
}

.newsPerseference {
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 0 1px 1px #CED0D4;
    right: 4px;
    top: 20px;
}

.newsPerseference:before {
  content: "";
  width: 0; 
  height: 0;
  position: absolute; 
  right: 0;
  top: -6px;
  border-left: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-right: 6px solid transparent;
}

.newsPerseference div span {
  font-size: 80%;
  color: #000000;
}

.newsPerseference div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
    margin: 4px;
    transition: 0.1s;
}

.newsPerseference div:hover{
  cursor: pointer;
  background-color: #4266B2;
  color: #ffffff;
}

.newsPerseference div:hover span{
  color: #ffffff;
}

.newsPerseference div:active {
  background-color: rgb(50, 79, 141);
}