.menu, .menuBlock {
  display: flex;
  flex-direction: row;
  z-index: 2;
}

.navigation {
  display: flex;
  flex-direction: row;
  /* background-color: yellow; */
  margin: 10px;

}

.navigationAvatar {
  display: flex;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin-top: 2px;
  overflow: hidden;
  border-radius: 50%;
}

.navigation img {
  max-width: 100%;
}
 
.navigation a{
  display: block;
  font-size: 80%;
  font-weight: 400;
  color: white;
  margin: 5px 0 0 6px;
  padding: 2px 16px 2px 5px;
  text-decoration: none;
  text-align: center;
  /* background-color: teal; */
  box-shadow: 1px 0px 0px 0px #3B5BA0;
}

.navigation a:nth-child(1) {
  margin: 0;
  padding: 0;
  box-shadow: none;
}


.navigation a:nth-child(3) {
  padding-right: 18px;
}

.menuIcons, .menuIcons2 {
  display: flex;
  justify-content: space-between;
  position: relative;
  /* background-color: red; */
  margin: 12px 0;
  margin-right: 12px;
}

.menuIcons button:hover,  .menuIcons2 button:hover{
  cursor: pointer;
}

.menuIcons button, .menuIcons2 button {
  display: flex;
  justify-content: center;
  margin-left: 12px;
  width: 25px;
  height: 25px;
  background: none;
  border: none;
  outline: none;
}

.menuIcons img, .menuIcons2 img {
  min-width: 25px;
  max-width: 100%;
}

.menu2Per img {
  min-width: 15px;
}

.menuIconsItem {
  position: relative;
}