.wrap {
width: 100%;
display: flex;
flex-direction: row;
}

h5 {
  font-weight: 600;
  margin: 0;
}

p {
  margin: 0;
}

.messenger {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 12px;
  /* background-color: white; */
  margin-bottom: 12px;
}

.messengerWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.messengerSidebar {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 0 1px #DDDFE2;
  margin-right: 12px;
  width: 32%;
  border-radius: 4px;
}

.messengerMain {
  background-color: white;
  width: 68%;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #DDDFE2;
}

/* Messenger Header */

.messengerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: white; */
  width: 100%;
}

.messengerHeader h5 {
  margin: 0;
  margin: 12px 0;
  color: black;
}

.messengerHeader button {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 35px;
  border: none;
  background-color: white;
  margin: 12px 0;
  outline: none;
}

button img {
  max-width: 100%;
}

.messengerMain {
  display: flex;
  position: relative;
  flex-direction: column;
  /* background-color: turquoise; */
}

.messengerMainHeader {
  display: flex;
  flex-direction: row;
  /* background-color: white; */
  width: 100%;
  box-shadow: 0 1px 0 0px #DDDFE2;
}

.messengerMainHeader h5 {
  margin: 12px 0;
  margin-right: 28.5%;
  margin-bottom: 19px;
  color: black;
}

.messengerMainHeaderBlock {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.messengerMainHeaderBlock button {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 35px;
  border: none;
  outline: none;
  background-color: white;
}

.messengerMainHeaderBlock img {
  max-width: 100%;
}


.dialogsPanel {
  /* background-color: white; */
  padding: 0;
  box-shadow: 0 -1px 0 0 #DDDFE2;
  width: 100%;
}

.searchMessenger {
  display: flex;
  width: 100%;
}

.searchMessanger textarea {
  width: 90.5%;
  margin: 12px 12px;
  margin-bottom: 0;
  resize: none;
  overflow: hidden;
  outline: none;
  border-radius: 4px;
  border: none;
  background-color: #F8F6F9;
  height: 30px;
  line-height: 30px;
  padding: 0;
  text-align: center;
  font-size: 90%;
}
