.wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.friendsPageWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1011px;
  padding: 0;
  background-color: tomato;
}
