.sidePanel {
    width: 100%;
    max-width: 308;
    /* background-color: cyan; */
}

.sidePanel p, .sidePanel a {
    font-size: 90%;
}


.sidePanelWrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #DDDFE2;
    margin-bottom: 12px;
    padding-bottom: 6px;
}

.sidePanelWrapper a {
    color: #4266B2;
}

div.sidePanelWrapper p{
    margin: 6px 12px;
}

.blockName {
    display: flex;
    justify-content: space-between;
    /* background-color: tomato; */
    margin: 12px;
}

.blockName h4 {
    margin: 0;
}

.blockInfo {
    display: flex;
    flex-direction: column;
    margin: 12px;
    margin-top: 0;
}

.blockInfo img {
    display: inline;
    max-width: 20px;
    margin-right: 12px;
}

.likeItemContainer, .likeItem {
    display: flex;
    flex-direction: row;
}

.likeItemContainer {
    /* background-color: teal; */
    justify-content: space-between;
    padding: 12px;
    align-items: center;
    box-shadow: 0 -1px 0 0 #CED0D4;
}

.likeItemContainer:nth-child(3) {
    padding-bottom: 0;
}

.likeItem div:nth-child(1) {
  width: 52px;
  height: 52px;
  /* background-color: tomato; */
  border-radius: 50%;
  overflow: hidden;
}

.likeItemAuthor {
    display: block;
    margin: 12px 6px;
}

.likeItemAuthor h4 {
    margin: 0 6px;
}

.likeItem img {
  max-width: 52px;
  height: 52px;
}

.blockInfo button {
  display: flex;
  align-items: center;
  background-color: #F6F7F9;
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px #CED0D4;
  height: 22px;
  font-weight: 600;
  transition: 0.1s;
  border-radius: 2px;
  transition: 0.1s;
}

.blockInfo button img {
  max-height: 18px;
  margin: 0;
  margin-right: 3px;
}

.blockInfo button:hover {
  cursor: pointer;
  background-color: #4266B2;
  color: white;
}

.blockInfo button:active {
  background-color: rgb(56, 89, 161);
}

