/* preloader */

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 25px;
  /* background-color: red; */
}

.preloader img {
  max-width: 100%;
  object-fit: cover;
}
