.header {
  display: flex;
  flex-direction: row;
  max-width: 1011px;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #4266B2;
  padding: 0 5px;
  padding-top: 12px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 34px;
  margin-top: 12px;
}

.logo a{
  outline: none;

}

.logo img {
  max-width: 100%;
  object-fit: cover;
}

.authBlockItemText {
  margin: 0;
  padding: 0;
  font-size: 80%;
  color: white;
}

.authBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 33%;
  min-width: 340px;
  justify-content: space-between;
  /* background-color: teal; */
}

.authBlockItem {
  display: flex;
  flex-direction: column;
}

.authBlockItem span {
  font-size: 70%;
  line-height: 20px;
  margin-top: -4px;
  margin-left: 2px;
  color: #CED0D4;
}

.authBlockCheck {
  display: flex;
  flex-direction: row;
}

.header button {
  height: 20px;
  outline: none;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #CED0D4;
  background-color: #F6F7F9;
  color: #4B4F55;
  font-weight: bold;
  padding: 0;
  width: 18%;
  margin-bottom: 5px;
}

.header button:hover {
    background-color: #4266B2;
    color: white;
    cursor: pointer;
}

.header button:active {
    background-color: rgb(56, 89, 161);
}

.authBlockItem input {
  outline: none;
  font-size: 80%;
}

.check {
  margin: 0;
  padding: 0;
}

.authBlockItem input:nth-child(2) {
  width: 80%;
}