h2 {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

/* profilePreview Block */

.profilePreview {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1011px;
}

.profileImage {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 315px;
  margin-top: 12px;
  background-color: #90959E;
}

.upLoadPhoto {
  position: absolute;
  display: flex;
  width: 25px;
  height: 25px;
  top:12px;
  left: 12px;
  z-index: 1;
  /* background-color: red; */
}

.upLoadPhoto img {
  position: absolute;
  max-width: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.upLoadPhoto input {
  display: flex;
  width: 25px;
  height: 50px;
  margin-top: -25px;
  opacity: 0;
  z-index: 1;
}

.upLoadPhoto:hover img {
  opacity: 1;
}

.upLoadPhoto input:hover {
  cursor: pointer;
}

.largePhoto {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.largePhoto img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* Profile Info Block */

.profileInfoWrapper {
  display: flex;
  flex-direction: row;
  /* background-color: orangered; */
  height: 138px;
  margin: 0 12px;
  z-index: 1;
}

.profileAvatar {
  width: 170px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DDDFE2;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #DDDFE2;
}

.profileAvatar img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profileInfo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 85%;
  /* background-color: dimgray; */
}

.profileName {
  /* background-color: orchid; */
  margin-left: 12px;
  margin-bottom: 12px;
  color: white;
}

.profileName input {
    border: none;
    width: 100%;
    outline: none;
    background: none;
    color: white;
    font-size: 90%;
}

.profileInfo button {
  position: relative;
  margin-bottom: 12px;
  outline: none;
  border: none;
  box-shadow: 0 0 0 1px #CED0D4;
  background-color: #F6F7F9;
  color: #4B4F55;
  font-weight: bold;
  padding: 6px 12px;
}

.profileInfo button:nth-child(1){
  border-radius: 2px;
  margin-right: 12px;
}

.profileInfo button:nth-child(2){
  border-radius: 2px 0 0 2px;
}

.profileInfo button:nth-last-child(1){
  border-radius: 0 2px 2px 0;
}

.profileInfo button img {
  max-width: 12px;
  margin-right: 5px;
  margin-bottom: -1px;
}

.profilePreview button:hover {
  background-color: #4266B2;
  color: white;
  cursor: pointer;
}

.profilePreview button:active {
  background-color: rgb(56, 89, 161);
}

button.active {
  background-color: #CED0D4;
  color: #000000;
}

button.active:hover {
  background-color: #CED0D4;
  color: #000000;
  cursor: default;
}