.logo a{
  margin: 10px 0;
  margin-right: 8px;
  padding: 3px 3px 0 0;
  min-width: 22px;
  min-height: 22px;
  line-height: 22px;
  text-align: right;
  font-size: 160%;
  font-weight: bold;
  background-color: white;
  color: #4266B2;
  overflow: hidden;
  border-radius: 1px;
  display: block;
  text-decoration: none;
}

.search{
  display: flex;
  flex-direction: row;
  width: 100%;
  /* background-color: slateblue; */
}

.search textarea {
  width: 100%;
  margin: 10px 0;
  height: 20px;
  padding: 5px 0 0 8px;
  resize: none;
  outline: none;
  overflow: hidden;
  border: none;
  border-radius: 2px 0 0 2px;
}

.search button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  margin: 10px 0;
  width: 45px;
  border: none;
  border-radius: 0 2px 2px 0;
  outline: none;
  background-color: #F6F7F9;
}

.search button:hover {
    cursor: pointer;
    background-color: #E9EBEE;
}

.search button img {
  margin-top: -1px;
  max-width: 80%;
}

.searchContainer {
  display: flex;
  width: 47%;
}