.footerWrapper {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    background-color: #FFFFFF;
    bottom: 500;
}
ul, li {
    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1011px;
    margin: 0 auto;
}

.lang {
    display: flex;
    /* background-color: palegoldenrod; */
    box-shadow: 0 1px 0 0 #CED0D4;
}

.footer ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    width: 100%;
    margin: 1% 0;
    margin-right: 0;

}

.footer a {
    color: #4266B2;
    font-size: 90%;
    margin-left: 12px;
}

.footer button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 1%;
    width: 20px;
    height: 12px;
    overflow: hidden;
    border-radius: 2px;
    border: none;
    outline: none;
}

.footer button img {
    max-width: 100%;
    object-fit: cover;
}

.footer button:hover {
  background-color: #4266B2;
  color: white;
  cursor: pointer;
}

.footer button:active {
  background-color: rgb(56, 89, 161);
}

.links {
    /* background-color: powderblue; */
    display: flex;
}
.inCorp {
    margin-top: 2%;
    margin-left: 12px;
    padding-bottom: 8%;
}

.inCorp p {
    color: #606770;
    font-size: 90%;
}
