.mainMenuWrapper {
  display: flex;
  flex-direction: column;
  width: 18%;
  margin-right: 12px;
  /* background-color: burlywood; */
}

.mainMenuUser {
  display: flex;
  flex-direction: row;
  padding: 0 6px;
  margin-top: 6px;
}

.mainMenuUserAvatar {
  width: 25px;
  height: 25px;
}

.mainMenuUserAvatar img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.mainMenuUserName {
  display: flex;
  margin-left: 8px;
  align-items: center;
}

.mainMenu {
  margin-top: 12px;
}

.mainMenuItem {
  margin-bottom: 12px;
}

.mainMenuItem li{
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 6px 5px;
}

.mainMenuItem li:hover{
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: 0 0 0 1px #DDDFE2;
  border-radius: 2px;
  font-weight: 600;
}

.mainMenuItem li img{
  max-width: 20px;
}

.mainMenuItem li a, .mainMenuItem li span{
  margin-left: 8px;
  font-size: 90%;
}

.mainMenuItem h5 {
  font-size: 80%;
  margin-left: 6px;
  margin-bottom: 6px;
  color: #828282;
  font-weight: 500;
}