.postFeedback {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    box-shadow: 0 1px 0 0 #DDDFE2;
  }
  
  .postFeedback button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10%;
    font-size: 80%;
    font-weight: 600;
    color: #61676F;
    border: none;
    outline: none;
    background: none;
  }

  .postFeedback button:hover {
      cursor: pointer;
  }
  
  .postFeedback img {
    max-width: 20px;
    margin-right: 6px;
  }
  
  .postFeedback div:nth-child(4) img {
    max-width: 12px;
  }