.sideBar {
  width: 18%;
  min-width: 173px;
  margin-right: 7px;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  min-width: 170px;
  margin-top: 12px;
  
}

.profileInfo div:nth-child(1) {
  width: 170px;
  height: 170px;
  box-shadow: 0px 2px 1px 0px #DDDFE2;
}


.profileInfo img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 1px;
}

.profileInfo h1 {
  margin: 0;
  margin-top: 6px;
  padding-left: 10px;
  font-weight: normal;
  font-size: 150%;
  color: black;
}

.profileInfo h2 {
  padding-left: 10px;
  margin: 0;
  color: #90949C;
  font-size: 120%;
}

.navigationBlock {
  display: flex;
  flex-direction: column;
  /* background-color: brown; */
  margin-right: 13px;
  margin-top: 15px;
}

.navigationBlock a {
  display: block;
  text-decoration: none;
  color: black;
  margin: 2px 0;
  padding: 7px;
  padding-left: 10px;
}

.active {
  background-color: white;
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0px 0px 1px 2px #DDDFE2;
  transition: 0.2s;
  transition-timing-function: linear;
}

.hover:hover {
  background-color: #F6F7F9;
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0px 0px 1px 2px rgba(228, 230, 235, 0.425);
  transition: 0.1s;
  transition-timing-function: linear;
}

a.createButton {
  padding: 5px 8px;
  margin-right: 60px;
  margin-top: 12px;
  font-size: 80%;
  border-radius: 2px;
  color: black;
  transition: 0.1s;
}

a.createButton:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: #41B72B;
  color: white;
}

a.createButton:active {
  background-color: rgb(55, 155, 37);
}
