body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #E9EBEE;
}

.appWrapper {
  margin: 0 auto;
}

.headerContainer {
  width: 100%;
  background-color: #4266B2;
  box-shadow: 0 0 1px 1px #284577;
  margin-bottom: 1px;
}

main {
  display: flex;
  flex-direction: row;
  /* background-color: tomato; */
  max-width: 1011px;
  margin: 0 auto;
  padding: 0 5px;
}

span, p, a, div, h1, h2, h3, h4, h5 {
  font-family: Arial regular;
}

.preloaderMainPage {
  position: absolute;
  display: flex;
  flex-direction: row;
  /* background-color: turquoise; */
  width: 100%;
  margin-top: 36px;
}