.profileNav {
  display: flex;
  background-color: #FFFFFF;
  box-shadow: 0 0 0 1px #DDDFE2;
  border-radius: 0 0 2px 2px;
  width: 100%;
}

.profileNav nav {
  display: flex;
  width: 100%;
  margin-left: 182px;
}

.profileNav nav ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  list-style-type: none;
  text-align: center;
}

.profileNav nav ul li {
  padding: 12px 0;
}

.profileNav nav ul li a{
  width: 100%;
  padding: 0 18px;
  box-shadow: 1px 0 0 0 #DDDFE2;
}

.profileNav nav ul li:nth-last-child(1) a{
  box-shadow: none;
}

.profileNav nav ul li:hover {
  box-shadow: 0 2px 0 0 #4266B2;
  cursor: pointer;
}

.profileNav nav ul li:hover a{
  box-shadow: none;
}

.selectedMenu {
  position: relative;
  flex-direction: column;
}

.selectedMenu:before {
  content: "";
  width: 0; 
  height: 0;
  position: absolute; 
  left: 40%;
  top: 80%;
  border-left: 9px solid transparent;
  border-bottom: 9px solid #E9EBEE;
  border-right: 9px solid transparent;
}

.profileNav nav ul:hover li.selectedMenu{
  box-shadow: none;
}

.profileNav nav ul li.selectedMenu:hover a{
  box-shadow: 1px 0 0 0 #DDDFE2;
}