.dialogs {
  display: flex;
  flex-direction: column;
}

.dialogItem {
  display: flex;
  flex-direction: row;
  margin-top: 6px;
  padding: 6px 12px;
  transition: 0.1s;
}

.dialogItem:hover {
background-color: #F2F2F4;

}

.dialogItem h5 {
  font-weight: 400;
  color: black;
}

.dialogItem p {
  font-size: 80%;
  color: #989A9D;
  margin: 0;
}

.dialogItemInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.dialogItemAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.dialogItemAvatar img {
  /* max-width: 50px; */
  height: 50px;
}

.dialogItemInfo {
  display: flex;
  flex-direction: row;
}

.dialogItemMessage {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  margin-left: 9px;
}

.dialogTime {
  margin-top: 12px;
}

a {
  text-decoration: none;
  color: black;
}

a.dialogItemActive .dialogItem  {
  background-color: #F2F2F4;
}



