
/* Messenger block */

.conatinerMessage {
    position: relative;
    width: 100%;
    height: 100%;
}

.messengerMainFriend {
  display: flex;
  flex-direction: row;
  /* background-color: orangered; */
  margin: 0 12px;
  box-shadow: 0 1px 0 0 #DDDFE2;
}


/* Messages */

.messengeTime {
  display: flex;
  justify-content: center;
}

.messengeTime p {
  font-size: 80%;
  color: #989A9D;
}

.messageItem, .messageItemSended {
  display: flex;
  flex-direction: row;
  /* background-color: blueviolet; */
  margin-top: 12px;
  margin-left: 12px;
  
}

.messageItemSended {
  justify-content: flex-end;
  margin-left: 0;
  margin-right: 12px;
}

.messageItemPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 6px;
  overflow: hidden;
}

.messageItem img, .messageItemSended img {
  /* max-width: 100%; */
  max-height: 30px;
}

.messageItemSended .messageItemPhoto {
  margin-right: 0;
  margin-left: 6px;
}

.messageTextReceived, .messageTextSended {
  max-width: 50%;
  border-radius: 16px;
  background-color: #F5F6F8;
  margin: 0;
  padding: 6px 6px;
  padding-top: 2px;
}

.messageTextSended {
  background-color: #0086FF;
  color: white;
}

.messageTextReceived p, .messageItemSended p {
  word-wrap: break-word;
  margin: 0;
  font-size: 80%;
  padding-top: 2px;
}

/* New message area */

.newMessageBlock {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  /* background-color: yellow; */
  /* height: 70px; */
  width: 100%;
  height: auto;
}

.newMessageText {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.newMessageTextArea {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.newMessageBlock textarea{
  width: 100% - padding;
  display: flex;
  resize: none;
  outline: none;
  overflow: hidden;
  margin-top: 0;
  border: none;
  margin: 0;
  padding: 12px;
  box-shadow: 0 -1px 0 0 #DDDFE2;
  font-size: 90%;
}

.newMessageTextArea button {
  display: flex;
  /* border: none; */
  outline: none;
  background-color: white;
  box-shadow: 0 -1px 0 0 #DDDFE2;

}

.messengeTime {
  display: flex;
  justify-content: center;
}

.messengeTime p {
  font-size: 80%;
  color: #989A9D;
}

.messageItem, .messageItemSended {
  display: flex;
  flex-direction: row;
  /* background-color: blueviolet; */
  margin-top: 12px;
  margin-left: 12px;
  
}

.messageItemSended {
  justify-content: flex-end;
  margin-left: 0;
  margin-right: 12px;
}

.messageItemPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 6px;
  overflow: hidden;
}

.messageItem img, .messageItemSended img {
  /* max-width: 100%; */
  max-height: 30px;
}

.messageItemSended .messageItemPhoto {
  margin-right: 0;
  margin-left: 6px;
}

.messageTextReceived, .messageTextSended {
  max-width: 50%;
  border-radius: 16px;
  background-color: #F5F6F8;
  margin: 0;
  padding: 6px 9px;
  padding-top: 3px;
}

.messageTextSended {
  background-color: #0086FF;
  color: white;
}

.messageTextReceived p, .messageItemSended p {
  word-wrap: break-word;
  margin: 0;
  font-size: 80%;
  padding-top: 2px;
}

