.aboutWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1011px;
  background-color: #ffffff;
}

.aboutHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  background-color: #F5F6F7;
  box-shadow: 0 0 0 2px #DDDFE2;
}

.aboutHeaderIcon {
  display: flex;
  align-items: center;
  width: 25px;
  margin-bottom: 6px;
}

.aboutHeaderIcon img {
  max-width: 100%;
}

.aboutHeader h3 {
  color: #727272;
  margin: 7px 12px;
}

.about {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-top: 2px;
}

.aboutNav {
  display: flex;
  width: 29%;
  box-shadow: 2px 0 0 0 #DDDFE2;
}

.aboutNav ul {
  list-style-type: none;
  padding: 1px 0;
}

.aboutNav ul li{
  padding: 12px;
  margin: 12px 0;
  color: #90959E;
}

.aboutNav ul li:hover{
  color: #000000;
  box-shadow: inset 4px 0 0 0 #4266B2;
  cursor: pointer;
}

.aboutNav ul li:nth-child(4) {
  color: #000000;
  box-shadow: inset 4px 0 0 0 #4266B2;
  cursor: default;
}

.aboutInfoBlock {
  display: flex;
  flex-direction: column;
  width: 44%;
  padding: 24px;
}

.aboutInfoBlock2 {
  display: flex;
  flex-direction: column;
  width: 27%;
  padding: 32px 0;
}

.aboutInfoBlock2 input {
  margin-left: 12px;
  background: none;
  border: none;
  color: #90959E;
}
